<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783881463282-2biulkht7eolradehe38u6kncggr0bj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783881463282-2biulkht7eolradehe38u6kncggr0bj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAL0UI0s8OEwMdQmaY1_uxXDZoO2Bxz-UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>783881463282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roxanamitel.Beauty</string>
	<key>PROJECT_ID</key>
	<string>beauty-aefee</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-aefee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783881463282:ios:78eb80c7f2bfc9b6</string>
	<key>DATABASE_URL</key>
	<string>https://beauty-aefee.firebaseio.com</string>
</dict>
</plist>